[submodule "src/Micro-XRCE-DDS-Agent"]
	path = src/Micro-XRCE-DDS-Agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "KNR_Drone_PX4_Autopilot"]
	path = KNR_Drone_PX4_Autopilot
	url = https://github.com/KNR-PW/KNR_Drone_PX4_Autopilot.git
